.topbar {
  width: 100%;
  height: 60px;
  background-color: rgba(217, 217, 217, 0.3);
;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.logo {
  color:#D4AF37;
  font-size: 24px;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* rest van het scherm onder de topbar */
  text-align: center;
  flex-direction: column;
}

.main {
  display: flex;
  height: calc(100vh - 60px); /* ruimte onder de topbar */
}

.sidebar {
  width: 200px;
  background-color: #25466C; /* zelfde kleur als topbar */
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar ul:hover {
  list-style: none;
}

.sidebar li.active {
  background-color: white;
  color: #282c34;
  font-weight: bold;
}

.sidebar-footer {
  font-size: 10px; /* kleiner lettertype */
  color: #D4AF37;
  line-height: 1.4;
  margin-top: auto; /* zorgt dat hij onderaan staat */
  margin-bottom: 20px;
  text-align: center;
}

.sub-sidebar {
  width: 200px;
  background-color: rgba(37, 70, 108, 0.8);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.sub-sidebar h3 {
  margin-top: 0;
  font-size: 16px;
}

.sub-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-sidebar li {
  cursor: pointer;
  transition: background-color 0.2s;
}

.sub-sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.sub-sidebar-menu li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sub-sidebar-menu li.active {
  background-color: white;
  color: #25466C;
  font-weight: bold;
}

#legeLi {
  height: auto;
  visibility: hidden;
}


