.topbar {
  width: 100%;
  height: 60px;
  background-color: rgba(217, 217, 217, 0.3);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5) !important;
  z-index: 50; 
  position: relative; 
}

body {
  font-family: 'Montagu', sans-serif;
}

.logo {
  color:#D4AF37;
  font-size: 24px;
  margin: 0;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

/* --------------------- SIDEBAR --------------------- */
.sidebar {
  width: 250px;
  background-color: #25466C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px white;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.6) !important;
  z-index: 11; 
  position: relative;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 15px;
  cursor: pointer;
  border-bottom: solid 1px white;
  user-select: none;
}

.sidebar-item.active {
  background-color: white;
  color: #25466C;
  font-weight: bold;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
}

.sidebar-footer {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 60px;
  text-align: center;
}

/* --------------------- SUB-SIDEBAR --------------------- */
.sub-sidebar {
  width: 250px;
  background-color: #25466C;
  color: white;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px white;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.6) !important;
  z-index: 10; 
  position: relative;
}

.sub-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-sidebar-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 15px;
  cursor: pointer;
  border-bottom: solid 1px white;
  transition: background-color 0.2s;
  user-select: none;
}

.sub-sidebar-menu li.active {
  background-color: white;
  color: #25466C;
  font-weight: bold;
}

.sub-sidebar-icon {
  width: 25px;
  height: 25px;
}

.empty-li {
  height: 52px; 
  cursor: default;
  pointer-events: none;
}

/* --------------------- CONTENT --------------------- */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
}
