.topbar {
  width: 100%;
  height: 60px;
  background-color: rgba(217, 217, 217, 0.3);
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5) !important;
  z-index: 50; 
  position: relative; 
}

body {
  font-family: 'Montagu', sans-serif;
}

.logo {
  color:#D4AF37;
  font-size: 24px;
  margin: 0;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
}
