.sub-sidebar {
  width: 250px;
  background-color: #25466C;
  color: white;
  display: flex;             
  flex-direction: column;     
  justify-content: space-between; 
  border: solid 1px white;
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.6) !important;
  z-index: 10; 
  position: relative;
}

.sub-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-sidebar-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 15px;
  cursor: pointer;
  border-bottom: solid 1px white;
  transition: background-color 0.2s;
  user-select: none;
}

.sub-sidebar-menu li.active {
  background-color: white;
  color: #25466C;
  font-weight: bold;
}

.sub-sidebar-icon {
  width: 25px;
  height: 25px;
}

.empty-li {
  height: 52px; 
  cursor: default;
  pointer-events: none;
}

.sub-sidebar-footer {
  text-align: center;
  margin-bottom: 80px; 
}

.overview-btn {
  background-color: white;
  color: #25466C;
  border: 2px solid #25466C;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.overview-btn:hover {
  background-color: #f0f0f0;
}
