.overview-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0;
}

.overview-panel-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.overview-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.overview-table-header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr auto;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  font-weight: 600;
  background-color: #f4f4f4;
}

.overview-table-controls {
  display: flex;
  gap: 8px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #25466C;
  font-weight: bold;
}

.overview-empty-message {
  text-align: center;
  padding: 100px 0px;
}

.overview-empty-title {
  font-size: 20px;
  font-weight: 600;
  color: #25466C;
  margin-top: 10px;
}

.overview-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 0.5px solid black;
  height: 3em;
  background-color: white;
}

.overview-table-row > div:nth-child(1),
.overview-table-row > div:nth-child(2) {
  border-right: 1px solid black;
}



.overview-table-footer {
  display: flex;
  justify-content: flex-end;
  height: 2em;
  padding: 10px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  align-items: center;
}

.overview-table-footer > div:nth-child(1){
  border-right: 1px solid black;
  padding-right: 40px;
}

.footer-label {
  margin-right: 20px;
}

.footer-amount {
  color: #A8C686;
  padding: 0px 40px;
}