.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  padding: 15px 50px;
  border-bottom: 1px solid #ddd;
  background-color: #25466C;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5) !important;
  position: relative; 
}

.overview-header-title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.overview-header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.overview-header-amount {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.overview-header-icon {
  width: 24px;
  height: 24px;
  padding-left: 40px;
  user-select: none;
}
